{{ define  "content"  }}
<h3>Book Add </h3>


<form method="post">

    <table>
        <tr>
            <td><label>Adı : </label></td>
            <td> <input type="text" name="name"></td>
        </tr>
        <tr>
            <td><label>Yazar : </label></td>
            <td> <input type="text" name="author"></td>
        </tr>
        <tr>
            <td><label>Yıl : </label></td>
            <td>  <input type="text" name="publication_date"></td>
        </tr>
        <tr>
            <td></td>
            <td>  <input type="submit"></td>
        </tr>
    </table>


   
    
    
</form>





{{end}}



